---
layout: base_layout
---

<section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-quarters">
                    <h2>Articles</h2>
                    {{ content }}
                </div>
                <div class="column is-one-quarter">
                                
                    <div class="media">
                        <div class="media-left">
                                <p class="image is-48x48">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                      </p>
                        </div>
                        <div class="media-content">
                            <h2>Tags</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolores impedit voluptate, obcaecati exercitationem eos inventore voluptates unde libero sequi magni voluptas id fuga qui. Architecto eius placeat atque ab.</p>
                        </div>
                    </div>

                    <div class="media">
                            <div class="media-left">
                                    <p class="image is-48x48">
                                            <img src="https://bulma.io/images/placeholders/128x128.png">
                                          </p>
                            </div>
                            <div class="media-content">
                                <h2>Categories</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolores impedit voluptate, obcaecati exercitationem eos inventore voluptates unde libero sequi magni voluptas id fuga qui. Architecto eius placeat atque ab.</p>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
</section>

