<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>


    {% include hero-main.html %}
    {% include nav-main.html %}
        {{ content }}
    <script src="/assets/js/bulma-scripts.js"></script>
  </body>
</html>